<div class="details" *ngIf="rover">
  <h3>{{rover.name}}</h3>

  <p>Date de lancement : {{rover.launch_date}}</p>
  <p>Date d'atterrissage sur Mars : {{rover.landing_date}}</p>
  <p>Statut : HS</p>
  <p>Max sol : 2208</p>

  <p>Caméras :
    <span *ngFor="let camera of rover.cameras ; last as isLast">
      {{camera.name}} = {{camera.full_name}}<span *ngIf="!isLast">,</span>
    </span>
  </p>

  <p>Caméras : {{getCameraList()}}</p>

  <div class="description">Spirit, alias MER-A (Mars Exploration Rover – A), est un rover envoyé sur Mars par la NASA en 2003...</div>
</div>

