<div class="details" *ngIf="rover">
  <h3>{{rover.name}}</h3>

  <p>Date de lancement : {{rover.launch_date}}</p>
  <p>Date d'atterrissage sur Mars : {{rover.landing_date}}</p>
  <p>Statut : HS</p>
  <p>Max sol : {{rover.max_sol}}</p>

  <p>Caméras :
    <span *ngFor="let camera of rover.cameras ; last as isLast">
      {{camera.name}} = {{camera.full_name}}<span *ngIf="!isLast">,</span>
    </span>
  </p>

  <p>Caméras : {{getCameraList()}}</p>

  <div class="description" [innerHTML]="rover.description"></div>
</div>

