<div class="details" *ngIf="rover">
  <h3>{{rover.name |uppercase}}</h3>

  <p>Date de lancement : {{rover.launch_date |date:'dd/MM/yyyy'}}</p>
  <p>Date d'atterrissage sur Mars : {{rover.landing_date |date:'dd/MM/yyyy'}}</p>
  <p>Statut : {{rover.status |status}}</p>
  <p>Max sol : 2208</p>

  <p>Caméras :
    <span *ngFor="let camera of rover.cameras ; last as isLast">
      {{camera.name}} = {{camera.full_name}}<span *ngIf="!isLast">,</span>
    </span>
  </p>

  <p>Caméras : {{getCameraList()}}</p>

  <div class="description" [innerHTML]="rover.description"></div>
</div>

