<form #formInfo="ngForm">

  Rover :
  <select name="rover" required
          [(ngModel)]="formData.rover"
          (ngModelChange)="formData.camera = undefined">
    <option [ngValue]="undefined"></option>
    <option *ngFor="let rover of roverList$ |async"
            [ngValue]="rover">
      {{rover.name}}
    </option>
  </select>

  Caméra :
  <select name="camera"
          [(ngModel)]="formData.camera">
    <option [ngValue]="undefined"></option>
    <option *ngFor="let camera of formData.rover?.cameras"
            [ngValue]="camera">
      {{camera.name}}
    </option>
  </select>

  Sol :
  <input type="number" name="sol"
         [(ngModel)]="formData.sol">

  <button [disabled]="formInfo.invalid">Rechercher</button>
</form>

<pre>{{formData |json}}</pre>
